In [2]:
# import tings

import pandas as pd
import numpy as np

In [9]:
eg_log = pd.read_csv('FlightLogs/Jan9.12-44.csv')

In [3]:
# get started combing through each log to get the aggregate data that actually matters
# start with {Jan9.12-44} as an example

In [11]:
eg_log.head()

,time(millisecond),timestamp,altitude_above_seaLevel(feet),height_sonar(feet),speed(mph),distance(feet),mileage(feet),satellites,gpslevel,voltage(v),...,voltageCell5,voltageCell6,current(A),battery_temperature(f),altitude(feet),ascent(feet),flycStateRaw,flycState,message,height_above_takeoff(meters)
0,422800,2026-01-09 12:44:32,720.66432,0.328084,0.0,0.000000,0.000000,18,5,0.0,...,0,0,0.0,75.74,720.66432,0.0,41,Motors_Started,SD card speed low SD card speed low. Normal us...,0.0
1,422900,2026-01-09 12:44:32,720.66432,0.328084,0.0,0.009328,0.009328,18,5,0.0,...,0,0,0.0,75.74,720.66432,0.0,41,Motors_Started,NaN,0.0
2,423000,2026-01-09 12:44:32,720.66432,0.328084,0.0,0.028029,0.028119,18,5,0.0,...,0,0,0.0,75.74,720.66432,0.0,41,Motors_Started,NaN,0.0
3,423100,2026-01-09 12:44:32,720.66432,0.328084,0.0,0.042575,0.043574,18,5,0.0,...,0,0,0.0,75.74,720.66432,0.0,41,Motors_Started,NaN,0.0
4,423200,2026-01-09 12:44:32,720.66432,0.328084,0.0,0.056100,0.059323,18,5,0.0,...,0,0,0.0,75.74,720.66432,0.0,41,Motors_Started,NaN,0.0